<app-navbar></app-navbar>

<section>
  <div class="bg">
    <div class="container">
      <div class="card">
        <div class="content-container">
          <div class="content">
            <h3>Our Vision</h3>
            <p>
              At Hacienda, we envision a world where farmers have easy access to
              a global marketplace, where suppliers can efficiently connect with
              agricultural producers, and where the entire food supply chain is
              optimized for sustainability and profitability.
            </p>
          </div>
          <div class="content">
            <h3>Who We Are</h3>
            <p>
              We are a dedicated team of professionals passionate about
              agriculture and technology. Our journey began with a simple idea:
              to create a platform that empowers farmers and suppliers by making
              the process of trading crops more accessible, transparent, and
              efficient.
            </p>
          </div>
          <div class="content">
            <h3>What We Do</h3>
            <p>
              Hacienda is your digital bridge to a thriving agricultural
              community. We offer a user-friendly platform that allows both
              suppliers and farmers to create accounts, connect, and trade their
              agricultural products with ease. Our platform is designed to
              simplify the complexities of crop trading while providing valuable
              tools and resources to support your agricultural journey.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
